extends layout

block content
  // Navigation
  nav.navbar.navbar-expand-lg.navbar-dark.navbar-custom.fixed-top
    .container
      button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarResponsive' aria-controls='navbarResponsive' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarResponsive.collapse.navbar-collapse
        ul.navbar-nav.ml-auto
          li.nav-item
            a.nav-link(href='#about') Nosotros
          li.nav-item
            a.nav-link(href='#bikes') Bicicletas
          li.nav-item
            a.nav-link(href='#signup') Contacto
  header.masthead.text-center.text-white
    .masthead-content
      .container
        h1.masthead-heading.mb-0 Red Bicicletas
        h2.masthead-subheading.mb-0 La primera comunidad online de ciclistas urbanos
        a.btn.btn-primary.btn-xl.rounded-pill.mt-5(href='#learnmore') Ver más
    .bg-circle-1.bg-circle
    .bg-circle-2.bg-circle
    .bg-circle-3.bg-circle
    .bg-circle-4.bg-circle
  section#learnmore
    .container
      .row.align-items-center
        .col-lg-6.order-lg-2
          .p-5
            img.img-fluid.rounded-circle(src='images/01.jpg' alt='')
        .col-lg-6.order-lg-1
          .p-5
            h2.display-4 What is Lorem Ipsum?...
            p
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod aliquid, mollitia odio veniam sit iste esse assumenda amet aperiam exercitationem, ea animi blanditiis recusandae! Ratione voluptatum molestiae adipisci, beatae obcaecati.
  section
    .container
      .row.align-items-center
        .col-lg-6
          .p-5
            img.img-fluid.rounded-circle(src='images/02.jpg' alt='')
        .col-lg-6
          .p-5
            h2.display-4 Why do we use it?
            p
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod aliquid, mollitia odio veniam sit iste esse assumenda amet aperiam exercitationem, ea animi blanditiis recusandae! Ratione voluptatum molestiae adipisci, beatae obcaecati.
  section
    .container
      .row.align-items-center
        .col-lg-6.order-lg-2
          .p-5
            img.img-fluid.rounded-circle(src='images/03.jpg' alt='')
        .col-lg-6.order-lg-1
          .p-5
            h2.display-4 Where does it come from?
            p
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod aliquid, mollitia odio veniam sit iste esse assumenda amet aperiam exercitationem, ea animi blanditiis recusandae! Ratione voluptatum molestiae adipisci, beatae obcaecati.
  section#bikes
    .container
      #main_map
  // Contact
  section.contact-section.bg-black#signup
  .container
    .row
      .col-md-4.mb-3.mb-md-0
        .card.py-4.h-100
          .card-body.text-center
            i.fas.fa-map-marked-alt.mb-2(style='color:#ee0979')
            h4.text-uppercase.m-0 Dirección
            hr.my-4
            .small.text-black-50 5034 Av. Italia, Montevideo, Uruguay
      .col-md-4.mb-3.mb-md-0
        .card.py-4.h-100
          .card-body.text-center
            i.fas.fa-envelope.mb-2(style='color:#ee0979')
            h4.text-uppercase.m-0 Email
            hr.my-4
            .small.text-black-50
              a(href='#!') info@redbicicletas.com
      .col-md-4.mb-3.mb-md-0
        .card.py-4.h-100
          .card-body.text-center
            i.fas.fa-mobile-alt.mb-2(style='color:#ee0979')
            h4.text-uppercase.m-0 Teléfono
            hr.my-4
            .small.text-black-50 +598 2904-9943
    .social.d-flex.justify-content-center#socialmedia
      span#twitter
        a.btn.btn-primary.btn-sm.rounded-circle.mt-5(href='www.twitter.com')
          i.fab.fa-twitter(style='color:white')
      span#facebook
        a.btn.btn-primary.btn-sm.rounded-circle.mt-5(href='www.facebook.com')
          i.fab.fa-facebook-f(style='color:white')
      span#github
        a.btn.btn-primary.btn-sm.rounded-circle.mt-5(href='www.github.com')
          i.fab.fa-github(style='color:white')
  // Footer
  footer.py-5.bg-black
    .container
      p.m-0.text-center.text-white.small Copyright &copy; Your Website 2020
    // /.container
  // Bootstrap core JavaScript
  script(src='/vendor/jquery/jquery.min.js')
  script(src='/vendor/bootstrap/js/bootstrap.bundle.min.js')
  script(src='/javascripts/map.js')
