a {
  color: #00B7FF;
}

#main_map {
  height: 525px;
  margin-bottom: 40px;
}

#twitter {
  margin-right: 10px;
}

#facebook {
  margin-right: 10px;
}

#github {
  margin-right: 10px;
}

#socialmedia {
  margin-bottom: 20px;
}

.btn {
  margin-top: -7px;
}