<h1>Política de privacidad para red bicicletas</h1>

<p>
  En red-bicicletas, accesible desde https://red-bicicletas24.herokuapp.com/,
  una de nuestras principales prioridades es la privacidad de nuestros
  visitantes. Este documento de Política de privacidad contiene tipos de
  información que red-bicicletas recopila y registra y cómo la utilizamos.
</p>

<p>
  Si tiene preguntas adicionales o necesita más información sobre nuestra
  Política de privacidad, no dude en contactarnos.
</p>

<p>
  Esta Política de privacidad se aplica solo a nuestras actividades en línea y
  es válida para los visitantes de nuestro sitio web con respecto a la
  información que compartieron y / o recopilaron en red-bicicletas. Esta
  política no se aplica a ninguna información recopilada fuera de línea o a
  través de canales que no sean este sitio web. Nuestra Política de privacidad
  se creó con la ayuda del
  <a href="https://www.privacypolicygenerator.info">
    Generador de políticas de privacidad
  </a>
  y el
  <a href="https://www.privacypolicies.com/ privacy-policy-generator / ">
    Generador gratuito de políticas de privacidad </a
  >.
</p>

<h2>Consentimiento</h2>

<p>
  Al utilizar nuestro sitio web, por la presente acepta nuestra Política de
  privacidad y acepta sus términos. Para conocer nuestros Términos y
  condiciones, visite el
  <a href="https://www.privacypolicyonline.com/terms-conditions-generator/">
    Generador de términos y condiciones </a
  >.
</p>

<h2>Información que recopilamos</h2>

<p>
  La información personal que se le solicita que proporcione, y las razones por
  las que se le solicita que la proporcione, se le aclararán en el momento en
  que le solicitemos que proporcione su información personal.
</p>
<p>
  Si se comunica con nosotros directamente, es posible que recibamos información
  adicional sobre usted, como su nombre, dirección de correo electrónico, número
  de teléfono, el contenido del mensaje y / o los archivos adjuntos que pueda
  enviarnos, y cualquier otra información que elija proporcionar. .
</p>
<p>
  Cuando se registra para obtener una cuenta, es posible que le solicitemos su
  información de contacto, incluidos elementos como el nombre, el nombre de la
  empresa, la dirección, la dirección de correo electrónico y el número de
  teléfono.
</p>

<h2>Cómo usamos su información</h2>

<p>Usamos la información que recopilamos de varias formas, incluso para:</p>

<ul>
  <li>Proporcionar, operar y mantener nuestro sitio web</li>
  <li>Mejorar, personalizar y expandir nuestro sitio web</li>
  <li>Comprenda y analice cómo utiliza nuestro webste</li>
  <li>
    Desarrolle nuevos productos, servicios, características y funcionalidades
  </li>
  <li>
    Comunicarse con usted, ya sea directamente oa través de uno de nuestros
    socios, incluso para el servicio al cliente, para brindarle actualizaciones
    y otra información relacionada con el sitio web, y con fines promocionales y
    de marketing
  </li>
  <li>Enviarle correos electrónicos</li>
  <li>Busque y evite el fraude</li>
</ul>

<h2>Archivos de registro</h2>

<p>
  red-bicicletas sigue un procedimiento estándar de uso de archivos de registro.
  Estos archivos registran a los visitantes cuando visitan sitios web. Todas las
  empresas de alojamiento hacen esto y forman parte del análisis de los
  servicios de alojamiento. La información recopilada por los archivos de
  registro incluye direcciones de protocolo de Internet (IP), tipo de navegador,
  proveedor de servicios de Internet (ISP), sello de fecha y hora, páginas de
  referencia / salida y posiblemente el número de clics. Estos no están
  vinculados a ninguna información que sea de identificación personal. El
  propósito de la información es analizar tendencias, administrar el sitio,
  rastrear el movimiento de los usuarios en el sitio web y recopilar información
  demográfica.
</p>

<h2>Cookies y balizas web</h2>

<p>
  Como cualquier otro sitio web, red-bicicletas utiliza 'cookies'. Estas cookies
  se utilizan para almacenar información, incluidas las preferencias de los
  visitantes y las páginas del sitio web que el visitante accedió o visitó. La
  información se utiliza para optimizar la experiencia de los usuarios al
  personalizar el contenido de nuestra página web en función del tipo de
  navegador de los visitantes y / u otra información.
</p>

<p>
  Para obtener más información general sobre las cookies, lea
  <a href="https://www.cookieconsent.com/what-are-cookies/">
    "¿Qué son las cookies" de Cookie Consent </a
  >.
</p>

<h2>Políticas de privacidad de socios publicitarios</h2>

<p>
  Puede consultar esta lista para encontrar la Política de Privacidad de cada
  uno de los socios publicitarios de red-bicicletas.
</p>

<p>
  Los servidores de anuncios de terceros o las redes de anuncios utilizan
  tecnologías como cookies, JavaScript o Web Beacons que se utilizan en sus
  respectivos anuncios y enlaces que aparecen en red bicicletas , que se envían
  directamente al navegador de los usuarios. Reciben automáticamente su
  dirección IP cuando esto ocurre. Estas tecnologías se utilizan para medir la
  efectividad de sus campañas publicitarias y / o para personalizar el contenido
  publicitario que ve en los sitios web que visita.
</p>

<p>
  Tenga en cuenta que red-bicicletas no tiene acceso ni control sobre estas
  cookies que utilizan los anunciantes de terceros.
</p>

<h2>Políticas de privacidad de terceros</h2>

<p>
  La Política de privacidad de red-bicicletas no se aplica a otros anunciantes o
  sitios web. Por lo tanto, le recomendamos que consulte las respectivas
  Políticas de Privacidad de estos servidores de anuncios de terceros para
  obtener información más detallada. Puede incluir sus prácticas e instrucciones
  sobre cómo excluirse de determinadas opciones.
</p>

<p>
  Puede optar por desactivar las cookies a través de las opciones de su
  navegador individual. Para conocer información más detallada sobre la gestión
  de cookies con navegadores web específicos, se puede encontrar en los
  respectivos sitios web de los navegadores.
</p>

<h2>Derechos de privacidad de la CCPA (no vender mi información personal)</h2>

<p>
  Según la CCPA, entre otros derechos, los consumidores de California tienen
  derecho a:
</p>
<p>
  Solicite que una empresa que recopila datos personales de un consumidor
  divulgue las categorías y piezas específicas de datos personales que una
  empresa ha recopilado sobre los consumidores.
</p>
<p>
  Solicite que una empresa elimine cualquier dato personal sobre el consumidor
  que haya recopilado una empresa.
</p>
<p>
  Solicite que una empresa que vende los datos personales de un consumidor, no
  venda los datos personales del consumidor.
</p>
<p>
  Si realiza una solicitud, tenemos un mes para responderle. Si desea ejercer
  alguno de estos derechos, comuníquese con nosotros.
</p>

<h2>Derechos de protección de datos de GDPR</h2>

<p>
  Nos gustaría asegurarnos de que conozca plenamente todos sus derechos de
  protección de datos. Todo usuario tiene derecho a lo siguiente:
</p>
<p>
  El derecho de acceso: tiene derecho a solicitar copias de sus datos
  personales. Es posible que le cobremos una pequeña tarifa por este servicio.
</p>
<p>
  El derecho a la rectificación: tiene derecho a solicitar que corrijamos
  cualquier información que crea que es inexacta. También tiene derecho a
  solicitar que completemos la información que cree que está incompleta.
</p>
<p>
  El derecho de eliminación: tiene derecho a solicitar que eliminemos sus datos
  personales, bajo ciertas condiciones.
</p>
<p>
  El derecho a restringir el procesamiento: tiene derecho a solicitar que
  restrinjamos el procesamiento de sus datos personales, bajo ciertas
  condiciones.
</p>
<p>
  El derecho a oponerse al procesamiento: tiene derecho a oponerse a nuestro
  procesamiento de sus datos personales, bajo ciertas condiciones.
</p>
<p>
  El derecho a la portabilidad de datos: tiene derecho a solicitar que
  transfiramos los datos que hemos recopilado a otra organización, o
  directamente a usted, bajo ciertas condiciones.
</p>
<p>
  Si realiza una solicitud, tenemos un mes para responderle. Si desea ejercer
  alguno de estos derechos, comuníquese con nosotros.
</p>

<h2>Información para niños</h2>

<p>
  Otra parte de nuestra prioridad es agregar protección para los niños mientras
  usan Internet. Alentamos a los padres y tutores a observar, participar y / o
  monitorear y guiar su actividad en línea.
</p>

<p>
  red-bicicletas no recopila a sabiendas ninguna información de identificación
  personal de niños menores de 13 años. Si cree que su hijo proporcionó este
  tipo de información en nuestro sitio web, le recomendamos que se comunique con
  nosotros de inmediato y haremos lo nuestro. mejores esfuerzos para eliminar de
  inmediato dicha información de nuestros registros.
</p>
